@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #F2DCE0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid gray;
    border-top: solid gray;
    background-color: white;
    padding: 20px 0px;
}

.logo{
    margin-left: 30px;
    margin-right: 30px;
    width: 300px;
    height: 100px;

}

ul{
    list-style: none;
    display: flex;
    margin: 0 auto;
    text-align: center;
    flex: 1;
}

li{
    margin: 30px;
    font-family: "Source Sans 3", serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    color: red;
    
}

a{
    text-decoration: none;
    color: #0f3d49;

}











.categoria{
    margin: 50px 120px;
    font-size: 30px;
    color: #0f3d49;
}


picture{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

}

.menu{
    width: 250px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    border-width: 2px;
    border:solid rgb(135, 67, 67);
    box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.3);
}

.conjunto{
    display: flex;
    flex-direction: row; 
    margin: 0 0 0 70px;
    justify-content: space-evenly; 
    gap: 25px; 
}

button{
    width: 150px;
    height: 30px;
    position: absolute;
    bottom: -10px;
    cursor: pointer;
    border-width: 2px;
    border: solid gray;
    border-radius: 10px;
}

button:hover {
    transform: scale(1.02);
}

.picture-container{
    position: relative;
    width: 250px; 
    margin: 20px auto; 
}


.line{
    margin: 30px 0px;
}

.description{
    color: rgb(77, 77, 77);
    
}

.item{
    margin-top: 5px;
    font-size: 17px;
}

.price{
    margin-top: 5px;
    color: red;
    font-size: 20px;
}



















.tudo{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.pagamento{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 600px;
    margin: 70px 120px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.3);
}

.juntar h2{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}



.class{
    display: flex;
    flex-direction: column;
}

.pagamento p {
    font-size: 20px;
    position: relative;
}

aside button{
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px; 
    position: absolute;
    z-index: 10;
}




